<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ethrealcorporate">
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Youtube" />
        <activity android:name=".Settings" />
        <activity android:name=".topic_1" />
        <activity android:name=".university_topic1" />
        <activity android:name=".book_pdf1" />
        <activity
            android:name=".pdf"
            android:theme="@style/AppTheme_noActionbar" />
        <activity android:name=".kitab4" />
        <activity android:name=".kitab3" />
        <activity android:name=".kitab2" />
        <activity android:name=".kitab1" />
        <activity
            android:name=".Prfl"
            android:theme="@style/AppTheme_noActionbar" />
        <activity
            android:name=".Recommendation"
            android:theme="@style/AppTheme_noActionbar" />
        <activity
            android:name=".Bookmarks"
            android:theme="@style/AppTheme_noActionbar" />
        <activity
            android:name=".Activities"
            android:theme="@style/AppTheme_noActionbar" />
        <activity
            android:name=".Books"
            android:theme="@style/AppTheme_noActionbar" />
        <activity
            android:name=".Topics"
            android:theme="@style/AppTheme_noActionbar" />
        <activity android:name=".SignUp" />
        <activity android:name=".Dashboard" />
        <activity android:name=".MainActivity" />
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>